<app-navbar-app></app-navbar-app>
 <div class="container-fluid mt-4">
    <div class="row"> 
      <div class="col-4">
             <div class="row">
                 <div class="col-12">
                  <h1 class="efecct_maquina font-monospace">Dev Daniel Mastrapa...</h1>
                  <p class="font-monospace">
                     Ingeniero Informático pasionado por el conocimiento. Desarrollador de software enfocado a resultados en un
                     entorno de desarrollo multiplataforma. Habilidades para el trabajo en equipo; 
                    escucha activa, respeto, sinceridad, habilidades de comunicación y enfocado a las personas. En mi tiempo libre aprendiz emprendedor!
                   </p>
                 </div>
                 <div class="col-12 mt-4">
                  <img src="../assets/angular_logo_icon_214764.png" class="mw-100" alt="wild landscape" />
              </div> 
      </div>
    </div>  
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
 </div>



