<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Daniel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
      <div class="row">
        <div class="row-md-3">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#"> 
                    <i class="bi bi-linkedin" style="font-size: 1.35rem"> linkenlinf</i>
                </a>
                <a class="nav-link active" aria-current="page" href=${{url_git}}> 
                    <i class="bi bi-github" style="font-size: 1.35rem">Git</i>
                </a>
            </div>
        </div>
      </div>
      
    </div>
  </nav>